.heading {
  font-family: 'Inter', 'sans-serif';
  font-size: 65px;
  padding-left: 60px;
  padding-top: 20px;
  background-color: #CAD6EC;
  margin: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.img {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border: 2px solid white;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  font-weight: 500;
  color: white;
  margin-left: 300px;
  margin-top: 15px;
}

.button2 {
  border: 2px solid white;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  font-weight: 500;
  color: white;
  margin-left: 354px;
  margin-top: 60px;
}

.button3 {
  border: 2px solid white;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  font-weight: 500;
  color: white;
  margin-left: 354px;
  margin-top: 105px;
}

.content {
  background-color: #CAD6EC;
  display: flex;
  align-items: center;
  border-bottom: 2px;
  border-top: 1.5px solid #181520;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 60px;
  overflow-x: hidden;
  width: 100%;
}

.content2 {
  background-color: #CAD6EC;
  display: flex;
  border-top: 1.5px solid #181520;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 60px;
  position: absolute;
  padding-top: 30px;
  width: 100%;
  overflow: hidden;
}

.buttonsec2 {
  border: 2px solid white;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  font-weight: 500;
  color: white;
  margin-left: 270px;
  margin-top: 15px;
}

.content3 {
  background-color: #CAD6EC;
  display: flex;
  border-top: 1.5px solid #181520;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 60px;
  position: absolute;
  padding-top: 30px;
  width: 100%;
  margin-top: 310px;
  overflow: hidden;
}

.content4 {
  background-color: #CAD6EC;
  display: flex;
  border-top: 1.5px solid #181520;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 60px;
  position: absolute;
  padding-top: 30px;
  width: 100%;
  margin-top: 616px;
  overflow: hidden;
}

.content5 {
  background-color: #CAD6EC;
  display: flex;
  border-top: 1.5px solid #181520;
  border-bottom: 1.5px solid #181520;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 60px;
  position: absolute;
  padding-top: 30px;
  width: 100%;
  margin-top: 925px;
  overflow: hidden;
}

.button1sec3 {
  border: 2px solid white;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  font-weight: 500;
  color: white;
  margin-left: 315px;
  margin-top: 15px;
}

.button2sec3 {
  border: 2px solid white;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  font-weight: 500;
  color: white;
  margin-left: 315px;
  margin-top: 60px;
}

.button3sec4 {
  border: 2px solid white;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  font-weight: 500;
  color: white;
  margin-left: 315px;
  margin-top: 105px;
}

.buttonmain {
  border: 2px solid #181520;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
  color: #181520;
  font-size: 16px;
  margin-right: 60px;
  margin-top: 35px;
}